<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Geeks13</title>
</head>
<body>
        {% for post in posts %}
            <li><h2>{{ post.title }}</h2>{{ post.content|safe }}
        {% else %}
            <li><em>Unbelievable. No entries here so far</em>
        {% endfor %}
</body>
</html>